*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(50, 8, 50);
    color: white;
}

input{
    background-color: white;
    color: black;
    height: 40px;
    /* width: 100px; */
    padding: 10px 20px ;
    font-size: 16px;
    border: none;
    outline: none;
}
.movie-list{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content:space-around;
    flex-wrap: wrap;
    /* border: 1px solid white; */
}

.movie-card{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    /* box-shadow: 0px 0px 8px 0px white; */
    /* height: 54vh; */
    max-width: 400px;
    background-color: rgb(88, 23, 88);
    /* border: 1px solid white; */
    border-radius: 10px;
    padding: 10px 38px;
    margin: 20px 10px ;
}
.poster{
    height:fit-content ;
    width: fit-content;
    /* background-color: rgb(169, 235, 156); */
    border-radius: 8px;
}

button{
padding: 10px 20px;
border-radius: 10px;
background-color: black;
color: white;
border: none;
outline: none;
}
button:hover{
    cursor: pointer;
    background-color: rgb(24, 24, 24);
}
.title{
    text-align: center;
}